:host {
  display: block;

  .progress-wrap {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .progress {
    background: var(--surface-2);
    height: 16px;
    border: var(--bw) solid var(--text);
    position: relative;

    span {
      display: block;
      height: 100%;
      background: var(--accent);
    }
  }

  label {
    font-family: var(--mono);
    font-size: 11px;
  }
}
