:host {
  display: block;

  .empty {
    border: var(--bw) dashed var(--text);
    padding: 40px;
    text-align: center;
    background: var(--surface);

    h5 {
      margin-bottom: 8px;
      font-size: 24px;
    }

    p {
      font-family: var(--mono);
      font-size: 13px;
    }
  }
}
