:host {
  display: block;

  .kv {
    display: grid;
    grid-template-columns: 140px 1fr;
    border: var(--bw) solid var(--text);
    background: var(--surface);
    margin: 0;

    > * {
      padding: 10px 14px;
      border-bottom: 2px solid var(--text);
    }

    > *:nth-last-child(-n+2) {
      border-bottom: 0;
    }

    dt {
      font-family: var(--mono);
      font-size: 11px;
      text-transform: uppercase;
      background: var(--surface-2);
      border-right: var(--bw) solid var(--text);
    }

    dd {
      margin: 0;
      font-weight: 700;
      font-size: 14px;
    }
  }
}
